@model Umbraco.Web.Models.ContentModel
@{
    ViewBag.Title = "BottomNavigation";
    var leftFooterTitle = Model.Content.Value<string>("leftFooterTitle");
    var leftFooterText = Model.Content.Value<string>("leftFooterText");
    var centerLeftFooterTitle = Model.Content.Value<string>("centerLeftFooterTitle");
    var centerLeftFootersubTitle = Model.Content.Value<string>("centerLeftFootersubTitle");
    var centerLeftFooterText1 = Model.Content.Value<string>("centerLeftFooterText1");
    var centerLeftFooterText2 = Model.Content.Value<string>("centerLeftFooterText2");
    var centerRightFooterTitle = Model.Content.Value<string>("centerRightFooterTitle");
    var centerRightFooterText = Model.Content.Value<string>("centerRightFooterText");
    var rightFooterTitle = Model.Content.Value<string>("rightFooterTitle");
    var adress = Model.Content.Value<string>("adress");
    var cityandPostalCode = Model.Content.Value<string>("cityandPostalCode");
    var country = Model.Content.Value<string>("country");
    var phoneNumber = Model.Content.Value<string>("phoneNumber");
    var fax = Model.Content.Value<string>("fax");
}

<footer>
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <h3>@leftFooterTitle</h3>
                <p>
                    @leftFooterText
                </p>    
            </div>
            <div class="col-md-3">
                <h3>@centerLeftFooterTitle</h3>
                <p>
                    <span>@centerLeftFootersubTitle</span> <a href="#"></a><br />
                    @centerLeftFooterText1
                </p>
                <p>
                    <span>@centerLeftFootersubTitle</span> <a href="#"></a><br />
                    @centerLeftFooterText2
                </p>
            </div>
            <div class="col-md-3">
                <h3>@centerRightFooterTitle</h3>
                <p>@centerRightFooterText</p>
                <br />
                <form action="#" method="post" class="form-inline" role="form">
                    <div class="form-group">
                        <label class="sr-only" for="exampleInputEmail2">your email:</label>
                        <input type="email" class="form-control form-control-lg" id="exampleInputEmail2" placeholder="your email:">
                    </div>
                    <button type="submit" class="btn btn-primary btn-md">subscribe</button>
                </form>
            </div>
            <div class="col-md-3">
                <h3>Social</h3>
                <p>
                    @adress<br />
                    @cityandPostalCode<br />
                    @country<br />
                    <br />
                    @phoneNumber<br />
                    @fax<br />
                    <br />
                </p>
                <div class="social__icons"> <a href="#" class="socialicon socialicon-twitter"></a> <a href="#" class="socialicon socialicon-facebook"></a> <a href="#" class="socialicon socialicon-google"></a> <a href="#" class="socialicon socialicon-mail"></a> </div>
            </div>
        </div>
        <hr>
        <p class="text-center">&copy; Copyright ABC Company. All Rights Reserved.</p>
    </div>
</footer>

