@using System.Web.Mvc.Html
@using ClientDependency.Core.Mvc
@using Umbraco.Web
@using WebsiteProject.Controllers
@model WebsiteProject.Models.RegisterModel


@{


    Html.EnableClientValidation();
    Html.EnableUnobtrusiveJavaScript();
    Html.RequiresJs("https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js");
    Html.RequiresJs("https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.0/jquery.validate.min.js");
    Html.RequiresJs("https://cdnjs.cloudflare.com/ajax/libs/jquery-validation-unobtrusive/3.2.11/jquery.validate.unobtrusive.min.js");

    var success = TempData["FormSuccess"] != null;
}



@if (success)
{

    <p>Registration succeeded.</p>
}
else
{
    using (Html.BeginUmbracoForm<RegisterController>("Register"))
    {
    <fieldset>

        @Html.ValidationSummary("Model", true)

        @Html.AntiForgeryToken()
        <div class="form-control">
            @Html.LabelFor(m => Model.Username)
            @Html.TextBoxFor(m => Model.Username)
            @Html.ValidationMessageFor(m => Model.Username)
        </div>
        <br />
        <div class="form-control">
            @Html.LabelFor(m => Model.Password)
            @Html.PasswordFor(m => Model.Password)
            @Html.ValidationMessageFor(m => Model.Password)
        </div>
            <br />
        <div class="form-control">
            @Html.LabelFor(m => Model.Email)
            @Html.TextBoxFor(m => Model.Email)
            @Html.ValidationMessageFor(m => Model.Email)
        </div>
            <br />
            <button class="form-control" type="submit">Create account</button>
    </fieldset>
    }
}