@using System.Web.Mvc.Html
@using ClientDependency.Core.Mvc
@using Umbraco.Web
@using WebsiteProject.Controllers
@model WebsiteProject.Models.RegisterModel


@{


    Html.EnableClientValidation();
    Html.EnableUnobtrusiveJavaScript();
    Html.RequiresJs("https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js");
    Html.RequiresJs("https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.0/jquery.validate.min.js");
    Html.RequiresJs("https://cdnjs.cloudflare.com/ajax/libs/jquery-validation-unobtrusive/3.2.11/jquery.validate.unobtrusive.min.js");

    var success = TempData["FormSuccess"] != null;
}



@if (success)
{

    <p>Registration succeeded.</p>
}
else
{
    using (Html.BeginUmbracoForm<RegisterController>("Register"))
    {
    <fieldset>

        @Html.ValidationSummary("Model", true)

        @Html.AntiForgeryToken()
        <br />
        @Html.TextBoxFor(m => Model.Username, htmlAttributes: new { @class = "form-control", @placeholder = "Username" })
        @Html.ValidationMessageFor(m => Model.Username)
        <br />
        @Html.PasswordFor(m => Model.Password, htmlAttributes: new { @class = "form-control", @placeholder = "Password" })
        @Html.ValidationMessageFor(m => Model.Password)
        <br />
        @Html.TextBoxFor(m => Model.Username, htmlAttributes: new { @class = "form-control", @placeholder = "Email" })
        @Html.ValidationMessageFor(m => Model.Email)
        <br />
        <button class="form-control" type="submit">Create account</button>
    </fieldset>
    }
}