@model Umbraco.Web.Models.ContentModel

@{
    Layout = "Master.cshtml";
    var title = Model.Content.Value<string>("title");
    var firstTitle = Model.Content.Value<string>("firstTitle");
    var firstText = Model.Content.Value<string>("firstText");
    var secondTitle = Model.Content.Value<string>("secondTitle");
    var secondText = Model.Content.Value<string>("secondText");
    var thirdTitle = Model.Content.Value<string>("thirdTitle");
    var thirdText = Model.Content.Value<string>("thirdText");
    var fourthTitle = Model.Content.Value<string>("fourthTitle");
    var fourthText = Model.Content.Value<string>("fourthText");
    var fifthTitle = Model.Content.Value<string>("fifthTitle");
    var fifthText = Model.Content.Value<string>("fifthText");
    var sixthTitle = Model.Content.Value<string>("sixthTitle");
    var sixthText = Model.Content.Value<string>("sixthText");
    var seventhTitle = Model.Content.Value<string>("seventhTitle");
    var seventhtext = Model.Content.Value<string>("seventhText");
    var eightTitle = Model.Content.Value<string>("eightTitle");
    var eightText = Model.Content.Value<string>("eightText");
    var ninthTitle = Model.Content.Value<string>("ninthTitle");
    var ninthText = Model.Content.Value<string>("ninthText");
    var tenthTitle = Model.Content.Value<string>("tenthTitle");
    var tenthText = Model.Content.Value<string>("tenthText");

}


<section>



    <div class="container">
        <div class="row no_padding nothing no-margin">
            <h2>@title</h2>

            <!-- DC [2 Columns] Start -->
            <div class="one_half">
                <!-- DC Toggle 1 Start -->
                <div class="dc_toggle_container" style="width:98%;">
                    + <a href="#" class="toggleCollapse" rel="style1" onClick="return false;">expand all</a><br />
                    <br />
                    <div class="dc_toggle style1">
                        <div><a href="" class="dc_toggle_link">@firstTitle</a></div>
                        <div class="dc_toggle_box">
                            @firstText
                        </div>
                    </div>
                    <div class="dc_toggle style1">
                        <div><a href="" class="dc_toggle_link">@secondTitle</a></div>
                        <div class="dc_toggle_box">
                            @secondText
                        </div>
                    </div>
                    <div class="dc_toggle style1">
                        <div><a href="" class="dc_toggle_link">@thirdTitle</a></div>
                        <div class="dc_toggle_box">
                            @thirdText
                        </div>
                    </div>
                    <div class="dc_toggle style1">
                        <div><a href="" class="dc_toggle_link">@fourthTitle</a></div>
                        <div class="dc_toggle_box">
                            @fourthText
                        </div>
                    </div>
                    <div class="dc_toggle style1">
                        <div><a href="" class="dc_toggle_link">@fifthTitle</a></div>
                        <div class="dc_toggle_box">
                            @fifthText
                        </div>
                    </div>
                </div>
                <!-- DC Toggle 1 End -->
                <br />
                <br />
            </div>
            <!-- END one_half -->

            <div class="one_half column-last">
                <br />
                <br />
                <!-- DC Toggle 1 Start -->
                <div class="dc_toggle_container" style="width:98%;">
                    <div class="dc_toggle style1">
                        <div><a href="" class="dc_toggle_link">@sixthTitle</a></div>
                        <div class="dc_toggle_box">@sixthText</div>
                    </div>
                    <div class="dc_toggle style1">
                        <div><a href="" class="dc_toggle_link">@seventhTitle</a></div>
                        <div class="dc_toggle_box">@seventhtext</div>
                    </div>
                    <div class="dc_toggle style1">
                        <div><a href="" class="dc_toggle_link">@eightTitle</a></div>
                        <div class="dc_toggle_box">@eightText</div>
                    </div>
                    <div class="dc_toggle style1">
                        <div><a href="" class="dc_toggle_link">@ninthTitle</a></div>
                        <div class="dc_toggle_box">@ninthText</div>
                    </div>
                    <div class="dc_toggle style1">
                        <div><a href="" class="dc_toggle_link">@tenthTitle</a></div>
                        <div class="dc_toggle_box">@tenthText</div>
                    </div>
                </div>
                <!-- DC Toggle 1 End -->
                <br />
                <br />
            </div>
            <!-- END one_half -->
            <!-- DC [2 Columns] End -->
            <div class="dc_clear"></div>
            <!-- line break/clear line -->
            <br />


            <!-- DC Toggle 2 End -->
            <br />
        </div>
    </div>
</section>


