@model Umbraco.Web.Models.ContentModel
@{
    Layout = "MasterHome.cshtml";
    var title = Model.Content.Value<string>("title");
    var exemple = Model.Content.Value<string>("exemple");
    //var image = Model.Content.Value<WebImage>("image");
}

<section class="main__middle__container">
    <div class="row text-center no-margin nothing">
        <div class="container headings">
            <h1 class="page_title">@title </h1>
            <p class="@title"</p>
            <p><a class="btn btn-info btn-lg" href="#" role="button">@exemple</a>
        </div>
    </div>
    @Html.Partial("HomeTopWideImage")
    <div class="row no-margin grey-info-block text-center">
        @Html.Partial("HomeLearnMoreLeftImage")

        @Html.Partial("HomeLearnMoreRightImage")
    </div>


    <div class="row text-center no-margin nothing red__line testimonials">
        <div class="container headings">
            <h2 class="page_title">TESTIMONIALS</h2>
            <span class="sep"></span>
            <p class="small-paragrapher"><small>Suspendisse urna nibh, viverra non, semper suscipit, posuere a, pede.</small></p>
            <div id="myCarousel2" class="carousel slide carousel-fade" data-ride="carousel">
                <ol class="carousel-indicators">
                    <li data-target="#myCarousel2" data-slide-to="0" class="active"></li>
                    <li data-target="#myCarousel2" data-slide-to="1"></li>
                    <li data-target="#myCarousel2" data-slide-to="2"></li>
                </ol>
                <div class="carousel-inner">
                    <div class="item active">
                        <p class="small-paragraph">"Quisque tristique sem ut lacus pulvinar sodales. Praesent ultricies sed suscipit tincidunt. Pellentesque eros dui, interdum vel elit vel. Nunc semper mauris sed eros accumsan, quis viverra. Cras sed leo non sem dictum."</p>
                        <p class="small-paragraph"><small>John Smith, Developer</small></p>
                    </div>
                    <div class="item">
                        <p class="small-paragraph">"Donec non faucibus quam. Proin sagittis lectus vitae dapibus pellentesque. Morbi at magna pellentesque, vulputate nisl nec. Donec non faucibus quam. Integer non venenatis nunc."</p>
                        <p class="small-paragraph"><small>Daniel Stone, Manager</small></p>
                    </div>
                    <div class="item">
                        <p class="small-paragraph">"Cras sed leo non sem dictum vulputate nec a nisi. Aliquam erat volutpat. Vivamus facilisis purus eu cursus dictum. Aliquam rutrum est sed purus elementum. Nunc condimentum est in nisi dictum."</p>
                        <p class="small-paragraph"><small>Alison Parks, Sales</small></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    @Html.Partial("HomeBottomWideImage")

    <div class="row  three__blocks text-center no_padding no-margin">
        @Html.Partial("BottomLeftImage")
        @Html.Partial("BottomCenterImage")
        @Html.Partial("BottomRightImage")
    </div>
</section>